[*.{cs,vb}]

# IDE0046: Convert to conditional expression
dotnet_style_prefer_conditional_expression_over_return = true:silent

# CS0659: Type overrides Object.Equals(object o) but does not override Object.GetHashCode()
dotnet_diagnostic.CS0659.severity = none

# CS3021: Type or member does not need a CLSCompliant attribute because the assembly does not have a CLSCompliant attribute
dotnet_diagnostic.CS3021.severity = silent

# IDE0071: Simplify interpolation
dotnet_style_prefer_simplified_interpolation = true:silent
